name: File Sync SSL
version: "1.0.0"
slug: file_sync
description: "Sync SSL certificates from Nginx Proxy Manager to Asterisk"
arch:
  - aarch64
  - amd64
  - armv7
startup: application
boot: auto
hassio_api: true
host_network: false

# ← ЭТО САМОЕ ВАЖНОЕ!
map:
  - addon_configs:ro
  - ssl:rw

options:
  source_relative_path: "a0d7b954_nginxproxymanager/letsencrypt/live/npm-8"
  dest_relative_path: "nginxproxymanager/live/npm-1"

schema:
  source_relative_path: str
  dest_relative_path: str
  
